<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>CV</title>
    <script language="javascript" src="angular.min.js"></script>
    <script language="javascript" src="script.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <script src="xeditable.js"></script>

</head>
<body >
    <div ng-app="mycv" class="container" id= "mainapp">
        <div   ng-controller="Ctrller" >
            <div class="col-sm-12" id="profile">
                <div class="col-sm-4" ng-repeat="i in myimage">
                    <img src="{{i.avarta}}" id="imgavarta" >
                </div>
                <div class="col-sm-8">
                    <div ng-repeat="x in myData" id="txtprofile">
                        <div id="txtname"  href="#" editable-text="x.name">{{x.name || "empty"}} </div>
                        <div href="#" editable-text="x.position">{{x.position || "empty"}}</div>
                        <div href="#" editable-text="x.major">Major: {{x.major || "empty"}}</div>
                        <div href="#" editable-text="x.email">Email: {{x.email || "empty"}}</div>
                        <div href="#" editable-text="x.phone">Phone: {{x.phone || "empty"}}</div>
                        <div href="#" editable-text="x.country">Nationality: {{x.country || "empty"}}</div>
                        <br/><br/>
                        <button id="btnSendmail" >Send Tam Inmail</button>

                    </div>

                </div>
                <br/>
                <br/>
                <div id="brdiv" ></div>

            </div>


                
            <div class="col-sm-12" >
                <label id="backgroundlable" >Background</label>
                <div  class="col-sm-12"id="summary" >
                    <div ng-repeat="i in myimage" id ="divimg" >
                        <img src="{{i.summary}}" id="imgsummary" />
                    </div>
                    <p id="txttitlebackground" >Summary</p>
                    <button id="btnAdd" >Add</button>
                    <div ng-repeat="y in mySummary" id="summaryvalue">
                        <div href="#" editable-text="y.summaryvalue"> {{y.summaryvalue || "empty"}}</div>
                    </div>
                    <br/>
                    <div id="tempdiv"/>
                </div>
                <hr>
                <div class="col-sm-12" id="experience" >
                    <br/><br/>
                    <div ng-repeat="i in myimage"id="divimg">
                        <img src="{{i.experience}}" id="imgexperience" />
                    </div>
                    <p id="txttitlebackground" >Experience</p>
                    <button id="btnAdd" >Add</button>
                    <div ng-repeat="ex in myExperience">
                        <div id="experiencevalue" href="#" editable-text="ex.experiencevalue">{{ex.experiencevalue || "empty"}}</div>
                    </div>
                    <br/><br/>

                </div>


                <hr>
                <div class="col-sm-12" id="project">
                    <br/><br/>
                    <div ng-repeat="i in myimage" id="divimg"   >
                        <img src="{{i.project}}" id ="imgproject" />
                    </div>
                    <p id="txttitlebackground">Project</p>
                    <button id="btnAdd" >Add</button>
                    <ul ng-repeat="p in myproject" id="projectvalue" >
                        <li href="#" editable-text="p.projectvalue">{{p.projectvalue || "empty"}}</li>

                    </ul>

                    <br/><br/>
                </div>
                <hr>
                <div class="col-sm-12" id="language">
                    <br/><br/>
                    <div ng-repeat="i in myimage" id="divimg" >
                        <img src="{{i.language}}"id="imglanguage" />
                    </div>
                    <p id="txttitlebackground">Language</p>
                    <button id="btnAdd" >Add</button>
                    <ul ng-repeat="a in myLanguage"id="languagevalue" >
                        <li  href="#" editable-text="a.languagevalue">{{a.languagevalue || "empty"}}</li>
                    </ul>
                    <br/><br/>
                </div>
                <hr>
                <div class="col-sm-12" id="skill">
                    <br/><br/>
                    <div ng-repeat="i in myimage" id="divimg">
                        <img src="{{i.skill}}"id="imgskill"/>
                    </div>
                    <p id="txttitlebackground" >Skill</p>
                    <button id="btnAdd" >Add</button>
                    <p id="txttopskill">I also know...</p>
                    <ul ng-repeat="s in myskill" id="skillvalue" >
                        <li href="#" editable-text="s.skillvalue">{{s.skillvalue || "empty"}}</li>

                    </ul>


                    <br/><br/>
                </div>
                <div class="col-sm-12" id="education" >
                    <br/><br/>
                    <div ng-repeat="i in myimage"id="divimg">
                        <img src="{{i.education}}" id="imgeducation"/>
                    </div>
                    <p id="txttitlebackground">Education</p>
                    <button id="btnAdd" >Add</button>
                    <ul ng-repeat="e in myeducation" id="educationvalue">
                        <li href="#" editable-text="e.educationvalue">{{e.educationvalue || "empty"}}</li>
                    </ul>

                    <br/><br/>
                </div>
                <hr>

            </div>
        </div>

    </div>
</body>
</html>